<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href='{{ site.baseurl }}{{ page.about }}'> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href='{{ site.baseurl }}about'>About </a>
        {% endif %}
    {% endif %}

    {% if page.url != "/portfolio/" %}
        {% if site.aboutPage %}
            <a href='{{ site.baseurl }}portfolio'>Portfolio </a>
        {% endif %}
    {% endif %}
    <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</nav>