<section id="portfolio">
	<article class="job-portfolio">
        <figure>
            <img src="../assets/images/capa-livros.jpg" alt="imagem projeto Livros" />
        </figure>

        <div class="mask-job">
        	<p><b>Descrição:</b> Conceito de uma aplicação de gerenciamento de biblioteca pessoal.</p>
        	<p><b>Ferramentas: </b><i>Photoshop, lápis, papel</i></p>
            <a href="" class="info">Ver detalhes</a>
        </div>
	</article>

	<article class="job-portfolio">
        <figure>
            <img src="../assets/images/capa-mx.jpg" alt="imagem projeto MX Photgraph" />
        </figure>

        <div class="mask-job">
        	<p><b>Descrição:</b> Site pessoal do fotógrafo pernambucano Max Müller. </p>
        	<p><b>Ferramentas: </b><i>HTML, CSS, JavaScript, PHP, Gimp</i> </p>
            <a href="" class="info">Ver detalhes</a>
        </div>
	</article>

	<article class="job-portfolio">
        <figure>
            <img src="../assets/images/capa-versos.jpg" alt="imagem projeto Versos de Outubro" />
        </figure>

        <div class="mask-job">
        	<p><b>Descrição:</b> Site da banda de rock nacional Versos de Outubro</p>
        	<p><b>Ferramentas: </b><i>HTML, CSS, JavaScript, PHP, Gimp</i> </p>
            <a href="" class="info">Ver detalhes</a>
        </div>
	</article>

	<article class="job-portfolio">
        <figure>
            <img src="../assets/images/capa-contos.png" alt="imagem projeto Contos Peregrinos" />
        </figure>

        <div class="mask-job">
        	<p><b>Descrição:</b> Plataforma para a disponibilização de contos de autores independentes</p>
        	<p><b>Ferramentas: </b><i>HTML, CSS, JavaScript, PHP, Photoshop</i> </p>
            <a href="" class="info">Ver detalhes</a>
        </div>
	</article>

</section>