<div id="portfolio">
    <section>
        <header class="title-job title-job-left">
            <h1>MX Photograph</h1>
        </header>

        <article class="job-portfolio">
            <figure class="img-job img-job-right">
                <a href=""><img src="../assets/images/portfolio/capa-mx.jpg" alt="imagem projeto MX Photgraph" /></a>
            </figure>

            <div class="mask-job mask-job-left">
                <p class="tools-skills tools-skills-left">HTML | CSS | JS | PHP | GIMP</p>
                <div class="screen-devices screen-devices-left">
                    <img src="../assets/images/portfolio/laptop.png" alt="layout para Desktop"><!-- 
                    <img src="../assets/images/portfolio/ipad.png" alt="layout para Tablet">
                    <img src="../assets/images/portfolio/phone.png" alt="layout para Celular"> -->
                </div>
                <p class="job-description job-description-left">Site pessoal para divulgação do trabalho do fotógrafo pernambucano Max Müller.</p>
            </div>
        </article>

        <footer class="info info-left">
            <a href="http://mxphotograph.com.br/">Ver projeto</a>
        </footer>
    </section>

    <section>
        <header class="title-job title-job-right">
            <h1>Livros</h1>
        </header>

        <article class="job-portfolio">
            <figure class="img-job img-job-left">
                <a href=""><img src="../assets/images/portfolio/capa-livros.jpg" alt="imagem projeto Livros" /></a>
            </figure>

            <div class="mask-job mask-job-right">
                <p class="tools-skills tools-skills-right">PHOTOSHOP | LÁPIS | PAPEL</p>
                <div class="screen-devices screen-devices-right">
                    <!-- <img src="../assets/images/portfolio/laptop.png" alt="layout para Desktop">
                    <img src="../assets/images/portfolio/ipad.png" alt="layout para Tablet"> -->
                    <img src="../assets/images/portfolio/phone.png" alt="layout para Celular">
                </div>
                <p class="job-description job-description-left">Conceito de uma aplicação de gerenciamento de biblioteca pessoal.</p>
            </div>
        </article>

        <footer class="info info-right">
            <a href="https://www.behance.net/gallery/30175765/Livros" >Ver projeto</a>
        </footer>
    </section>

    <section>
        <header class="title-job title-job-left">
            <h1>Contos Peregrinos</h1>
        </header>

        <article class="job-portfolio">
            <figure class="img-job img-job-right">
                <a href=""><img src="../assets/images/portfolio/capa-contos.png" alt="imagem projeto Contos Peregrinos" /></a>
            </figure>

            <div class="mask-job mask-job-left">
                <p class="tools-skills tools-skills-left">HTML | CSS | JS | PHOTOSHOP | PHP</p>
                <div class="screen-devices screen-devices-left">
                    <img src="../assets/images/portfolio/laptop.png" alt="layout para Desktop">
                    <img src="../assets/images/portfolio/ipad.png" alt="layout para Tablet">
                    <img src="../assets/images/portfolio/phone.png" alt="layout para Celular">
                </div>
                <p class="job-description job-description-left">Plataforma para a disponibilização de contos de autores independentes</p>
            </div>
        </article>

        <footer class="info info-left">
            <a href="http://jonathanlima.com.br/contosperegrinos/" >Ver projeto</a>
        </footer>
    </section>

    <section>
        <header class="title-job title-job-right">
            <h1>Versos de Outubro</h1>
        </header>

        <article class="job-portfolio">
            <figure class="img-job img-job-left">
                <a href=""><img src="../assets/images/portfolio/capa-versos.jpg" alt="imagem projeto Versos de Outubro" /></a>
            </figure>

            <div class="mask-job mask-job-right">
                <p class="tools-skills tools-skills-right">HTML | CSS | JS | PHP | GIMP</p>
                <div class="screen-devices screen-devices-right">
                    <img src="../assets/images/portfolio/laptop.png" alt="layout para Desktop">
                    <img src="../assets/images/portfolio/ipad.png" alt="layout para Tablet">
                    <img src="../assets/images/portfolio/phone.png" alt="layout para Celular">
                </div>
                <p class="job-description job-description-left">Site da banda de rock nacional Versos de Outubro</p>
            </div>
        </article>

        <footer class="info info-right">
            <a href="http://jonathanlima.com.br/versosdeoutubro/" >Ver projeto</a>
        </footer>
    </section>
</div>