<div id="portfolio">
	<section>
		<header>
			<h2 class="title-job"><a href="http://rec.jsday.com.br/">JS Day Brazil</a></h2>
		</header>

		<article class="job-portfolio">
			<p class=""><small>Desenvolvimento e edição dos textos do site.</small></p>
		</article>
	</section>

	<section>
		<header>
			<h2 class="title-job"><a href="https://github.com/training-projects">Projeto Training</a></h2>
		</header>

		<article class="job-portfolio">
			<p class=""><small>Projeto feito em parceria com o dev <a href="https://github.com/idlua">@Idlua</a> e o <a href="https://github.com/theandersonn">@theandersonn</a></small></p>
		</article>
	</section>

	<section>
		<header>
			<h2 class="title-job"><a href="http://rotaract4500.org/">Rotaract 4500</a></h2>
		</header>

		<article class="job-portfolio">
			<p class=""><small>Site desenvolvido voluntariamente para a ONG Rotaract</small></p>
		</article>
	</section>

	<section>
		<header>
			<h2 class="title-job"><a href="http://www.fernandaduraes.com.br/">Fernanda Durães</a></h2>
		</header>

		<article class="job-portfolio">
			<p class=""><small>Site desenvolvido com Wordpress.</small></p>
		</article>
	</section>

	<section>
		<header>
			<h2 class="title-job"><a href="http://pousadasecocharme.com.br/">Pousadas Ecocharme</a></h2>
		</header>

		<article class="job-portfolio">
			<p class=""><small>Desenvolvido todo o front, e o blog em Wordpress.</small></p>
		</article>
	</section>

	<section>
		<header>
			<h2 class="title-job"><a href="blog.luckviagens.com.br">Luck Viagens</a></h2>
		</header>

		<article class="job-portfolio">
			<p class=""><small>Blog desenvolvido em Wordpress para a Luck.</small></p>
		</article>
	</section>

	<!-- <section>
		<header>
			<h2 class="title-job"><a href="http://pousadasecocharme.com.br/">Wallpapers Star Wars</a></h2>
		</header>

		<article class="job-portfolio">
			<p class=""><small>Wallpapers dos personagens de Star Wars.</small> <a href="btn">Baixe os wallpapers aqui!</a></p>
		</article>
	</section> -->
</div>