<a href='https://github.com/jonathanslima'>
    <img class="social-media" src="/assets/images/github.png" alt="Github logo" />
</a>

<a href='https://twitter.com/jonathan_slima'>
    <img class="social-media" src="/assets/images/twitter.png" alt="Twitter logo" />
</a>

<a href='https://www.facebook.com/jonathansilva.86'>
    <img class="social-media" src="/assets/images/facebook.png" alt="Facebook logo" />
</a>

<a href='https://br.linkedin.com/in/jonathanlima'>
    <img class="social-media" src="/assets/images/linkedin.png" alt="linkedin logo" />
</a>

<a href='https://medium.com/@jonathanslima'>
    <img class="social-media" src="/assets/images/medium.jpg" alt="medium logo" />
</a>